{% extends 'base.html' %}
{% block content %}
<h2>Completed Tasks</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.taskTitle }}</td>
            <td>{{ task.taskDescription }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'show_tasks' %}" class="btn btn-warning btn-sm">>Back to Tasks</a>
{% endblock %}

