{% extends 'base.html' %}
{% block content %}
<div style="width: 100%; background-color: #f5f5f5; padding: 20px 0;">
  <div style="width: 50%; margin: auto; background-color: #fff; border: 1px solid #ddd; border-radius: 10px; padding: 20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <h1 style="font-family: 'Arial', sans-serif; font-size: 36px; font-weight: bold; color: #333; text-align: center;">
      Achieve More Every Day:
      <br />
      <span style="font-size: 28px; color: #008CBA;">Manage Tasks Seamlessly</span>
    </h1>

    <div style="text-align: center; margin-top: 30px;">
      <h3 style="color: #FF5733; font-weight: bold;">Stay Inspired:</h3>
      <p style="color: #FFA500; font-weight: bold;">"The secret of getting ahead is getting started." - Mark Twain</p>
      <p style="color: #4A90E2; font-weight: bold;">"Success is not final, failure is not fatal: It is the courage to continue that counts." - Winston Churchill</p>
      <p style="color: #8A2BE2; font-weight: bold;">"You are never too old to set another goal or to dream a new dream." - C.S. Lewis</p>
    </div>

    <div style="text-align: center; margin-top: 20px;">
      <p style="color: #3498DB; font-weight: bold;">This website is made by Nihal.</p>
    </div>

    <div style="margin-top: 40px;">
      <h2 style="color: #333; text-align: center;">Sample Daily Routine:</h2>
      <ul style="list-style-type: none; padding-left: 0;">
        <li style="color: #555; font-size: 18px;">6:00 AM - Wake Up and Exercise</li>
        <li style="color: #555; font-size: 18px;">7:00 AM - Breakfast and Planning</li>
        <li style="color: #555; font-size: 18px;">8:00 AM - Start Work</li>
        <li style="color: #555; font-size: 18px;">12:00 PM - Lunch Break</li>
        <li style="color: #555; font-size: 18px;">3:00 PM - Short Break and Stretch</li>
        <li style="color: #555; font-size: 18px;">6:00 PM - Finish Work and Exercise</li>
        <li style="color: #555; font-size: 18px;">7:00 PM - Dinner and Relaxation</li>
        <li style="color: #555; font-size: 18px;">9:00 PM - Wind Down and Prepare for Bed</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}





